@media (max-width: 50em) {
  span.astro-m46x6ez3 {
    white-space: normal ;
    font-size: 0.80rem ; /* Nuevo tamaño de fuente */
    line-height: 1.2 ;
    max-width: 60% ; /* Limita el ancho para evitar superposición */
  }
}



@media (max-width: 50em) {
  /* Selecciona los íconos de los botones de paginación */
   .astro-u2l5gyhi {
    height: 1.5rem;
    width: 1.5rem;
  }
}
