@media (max-width: 50em) {
  span.astro-m46x6ez3 {
    white-space: normal !important;
    font-size: 1rem !important; /* Nuevo tamaño de fuente */
    line-height: 1.2 !important;
    max-width: 70% !important; /* Limita el ancho para evitar superposición */
  }
}
