
---
import GoogleAnalytics from '../components/GoogleAnalytics.astro';
--- 

<html lang="en">
  <head>

        <GoogleAnalytics />
  </head>
  <body>
  
    <main>
      <slot />
    </main>
  </body>
</html>




   
  



