
<html lang="en">
  <head>

       
<!-- Google tag (gtag.js) -->
<script is:inline type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-Z3R6NF5FQX"></script>
<script is:inline type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  // This should ALWAYS be set before the gtag("config", "G-Z3R6NF5FQX"); line
  gtag("consent", "default", {
      ad_storage: "denied",
      ad_user_data: "denied",
      ad_personalization: "denied",
      analytics_storage: "denied",
  });


  gtag('config', 'G-Z3R6NF5FQX');
</script>  
  </head>
  <body>
  
    <main>
      <slot />
    </main>
  </body>
</html>




   
  



